body {
  background-color: #6699ff;

}

h1{
	color: #ffff99;
	text-align: center;
	font-family: Futura, sans-serif;
	font-size: 60px;
	background-color: #000066;
}

h2{
	color: #ffff99;
	font-family: Futura, sans-serif;
}

	